@keyframes fade-right {
  0% {
    opacity: 0;
    width: 0%;
  }
  35% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;

    width: 110%;
  }
}
@keyframes fade-out {
  0% {
    right: 0;
    opacity: 1;
    width: 100%;
  }
  100% {
    right: 100%;
    opacity: 1;
    width: 0%;
  }
}
@keyframes leave {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    transform: translate(-20px, -100px);
  }
  100% {
    opacity: 0;
    transform: translate(-600px, -100px);
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translate(-600px, -100px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.card {
  border-radius: 25px;
  background-color: white;
  transition: all 1s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 40px;
  zoom: 0.9;
}

.hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card h1 {
  margin-top: 50px;
  margin-bottom: 40px;
  animation: fade-down 1s;
}

.parentContainer {
  width: 80%; /* 100% in larger screens */
  display: flex;
  justify-content: center;
  align-items: center;
}

.exerciseCard {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 700px;
  margin-bottom: 0;
  position: relative;
  align-items: end;
}

.exerciseCard h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  padding-left: 20px;
  animation: none;
}

.contentContainer {
  transition: none;
  border-color: #e0e0e0;
  border-style: solid;
  border-width: 0.25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  width: 80%;
  height: 90%;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.transition {
  position: absolute;
  top: 0px;
  content: "";
  right: 0px;
  width: 0%;
  height: 100%;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  z-index: 1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: none;
}

.transition.success {
  background-color: #28a745;
}
.transition.failure {
  background-color: #ff0909;
}

.transitionContent {
  position: absolute;
  top: 30%;
  left: 10%;
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  z-index: 2;
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.actionCircle {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: white;
  opacity: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionContainer {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionContainer i {
  transform: scale(2);
}

.fadeIn {
  animation: fade-right 0.75s forwards;
}

.fadeOut {
  animation: fade-out 0.5s forwards;
}

.leave {
  animation: leave 0.5s forwards;
}

.enter {
  animation: enter 0.5s forwards;
}

.span {
  font-weight: 900;
  color: #0989ff;
}

span.item {
  font-size: 24px;
}
.itemContainer {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 50px;
  margin-top: 30px;
}

.itemContainer .iconContainer {
  width: 40px;
  height: 40px;
  background-color: inherit;

  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemContainer .iconContainer img {
  width: 100%;
  height: 100%;
}
.exerciseCard .imgContainer {
  margin-top: 40px;
  width: 100%;
  height: 50%;
}

.parentContainer .previous {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parentContainer .rightButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 350px;
  width: 25%;
}

.parentContainer .leftButtons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 350px;
  width: 25%;
}

.exerciseButtonContainer {
  width: 200px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.exerciseButton {
  width: 80px;
  height: 80px;
  opacity: 0.77;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exerciseButton:hover {
  transition: transform 1s ease;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.exerciseButton:active {
  transition: transform 0s;
  transform: scale(0.95);
}

.exerciseButton i {
  transform: scale(1.5);
}

.buttonsContainer {
  height: 150px;
  position: relative;
  width: 60%;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 50px;
}

.exerciseSwapButtons {
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding-top: 10px;
}
button.exerciseSwapButton {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border-color: #0989ff;
  border-style: solid;
  border-width: 0.5px;
  background-color: black;
  border-width: thin;
}

button.exerciseSwapButton:active {
  margin-top: 0;
  transform: scale(1.1);
  height: 15px;
}

button.selected {
  background-color: #0989ff;
  border-color: black;
}

button.selected:active {
  transform: scale(1);
  height: 15px;
}

button.button {
  box-shadow: inset 0 -3px 2px rgba(82, 82, 82, 0.5);
  border-radius: 15px;
  width: 40%;
  height: 60px;
}

button.button:hover {
  transform: scale(1.02);
}

button.button:active {
  margin-top: 10px;
  height: 50px;
  box-shadow: none;
}

.backButton {
  background-color: #adb5bd;
}

.startButton {
  border-radius: 15px;
  width: 40%;
  background-color: #28a745;
}
