body {
  font-family: "Inter";
  background-color: #ecefea;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}

img {
  height: 100%;
  width: 100%;
}

span.white {
  color: white;
  font-weight: 900;
}

span.blue {
  color: #0989ff;
}

span.big {
  font-weight: 700;
  font-size: 50px;
}

button {
  width: 40%;
  height: 55px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  border: none;
  transition: background-color 0.2s ease, transform 1s ease;
}

button:focus {
  outline: none;
}

.btnHover {
  transform: scale(1.02);
}

button.active {
  box-shadow: none;
  margin-top: 10px;
  height: 45px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.loginContainer {
  margin: auto;
  margin-top: 0.5%;
  width: 90%;
  height: 100vh;
  border-radius: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  transition: all 1s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.languageContainer {
  position: absolute;
  width: 120px;
  height: 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  top: 2%;
  right: 2%;
}

.language {
  width: 30px;
  height: 20px;
  transition: transform 1s ease;
  cursor: pointer;
}

.language:hover {
  transform: scale(1.15);
}
.blur {
  filter: blur(5px);
  z-index: -1;
}

.hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.loginCard {
  margin-left: 5%;
  height: 95%;
  width: 40%;
  border-radius: 100px;
  background: radial-gradient(circle at bottom right, #70bbff, #0989ff);
  overflow: hidden;
  animation: fadeDown 1s backwards;
  display: flex;
  flex-direction: column;
  zoom: 0.85;
}

.loginCard .heading {
  width: 80%;
  line-height: 2;
  color: white;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 600;
}

.loginCard .subHeading {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 25px;
  width: 80%;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.loginCard .imageContainer {
  margin-top: auto;
  height: 50%;
  width: 100%;
}

.login {
  margin-left: 5%;
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeUp 1s 1s backwards;
}

.login .header {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.login .header h1 {
  margin: 0;
}

.login .header .iconContainer {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0c0a;
}

.login .header .brand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

.login .header .iconContainer .icon {
  transform: rotate(135deg);
}

.login .subHeader {
  width: 60%;
  text-align: center;
  margin-top: 40px;
}

.login .subHeader h1 {
  font-size: 64px;
}

.login p {
  font-weight: 300;
  font-size: 16px;
  margin-top: 20px;
}

.login p.subHeading {
  margin-bottom: 40px;
}

.formControl {
  width: 80%;
  height: 55px;
  border-radius: 15px;
}

.formGroup {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formGroup i {
  position: absolute;
  top: 20px;
  right: 15%;
}
.passwordContainer {
  margin-bottom: 45px;
}

.passwordContainer i {
  right: 14.5%;
  transition: transform 1s ease;
  cursor: pointer;
}

.passwordContainer i:hover {
  transform: scale(1.1);
}

.buttonContainer {
  padding: 0 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logButton {
  background-color: #0989ff;
  box-shadow: inset 0 -3px 2px rgba(82, 82, 82, 0.5);
}

.noAccountDiv {
  margin: 0px 0;
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  margin-top: 5px;
  height: 1px;
  width: 25%;
  background-color: #cacaca;
}

.signInOptionContainer {
  height: 120px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.signInOption {
  padding: 0 8%;
  font-weight: 400;
  background-color: white;
  color: rgb(165, 165, 165);
  width: 40%;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: antiquewhite;
  padding: none;
}

button.signInOption:hover {
  transform: scale(1.05);
}

.signInOptionIcon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingAnimation {
  height: 50px;
  width: 50px;
}
.registerButton {
  background-color: #00a859;
  box-shadow: inset 0 -3px 2px rgba(82, 82, 82, 0.5);
}

@media (min-height: 800px) {
  .loginCard {
    height: 90%;
    zoom: normal;
  }
}

p.p {
  margin: 0px 0px;
}
