.card {
    padding: 0 50px;
    border-radius: 25px;
    transition: transform 1s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.03); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.create h1 {
    margin-top: 70px;
    font-weight: 600;
    text-align: center;
}

.containerFrequency {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerFrequency h1 {
    font-weight: 300;
}

.containerFrequency .sliders {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerFrequency .sliders .slider {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
}

.containerFrequency .sliders .slider .sliderBar {
    height: 15px;
    width: 60%;
    border-radius: 25px;
    background-color: #ECEFEA;
    border-width: thin;
}

.containerFrequency .sliders .slider .sliderBar .progress {
    width: 33%;
    height: 100%;
    background-image: linear-gradient(to right, #0989FF, #45a5ff);
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 25px;
    position: relative;
    overflow: visible;
}

.containerFrequency .sliders .slider .sliderBar .progress .pill {
    cursor: pointer;
    width: 27px;
    height: 60px;
    border-radius: 25px;
    background-color: white;
    border-color: #0989FF;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s;

}

.pill:hover {
    transform: scale(1.1);
}

.pill .line {
    width: 80%;
    height: 2px;
    background-color: #0989FF;
    margin-top: 12px;
}

.containerFrequency .sliders .slider .counter {
    font-size: 40px;
    font-weight: 900;
    color: #0989FF;
    margin-left: 0px;
    width: 100px;
    text-align: right;
}

.containerFrequency .sliders .slider p {
    font-size: 400;
    font-size: 16px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-top: 5px;
}

.containerGoal {
    margin-top: 80px;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerGoal h1 {
    font-weight: 300;
    margin-right: 5%;
}

.containerGoal .goal {
    width: 200px;
    height: 250px;
    border-style: solid;
    border-color: #D9D9D9;
    border-width: thin;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 1s ease;
    cursor: pointer;
}

.containerGoal .goal:hover {
    transform: scale(1.03); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.containerGoal .goal .containerImage {
    height: 70%;
    width: 100%;
    border-radius: 25px;
}

.containerGoal .goal .containerText {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 16px;
}

.buttons {
    width: 75%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.buttonBack {
    background-color: #adb5bd;
    width: 35%;
}

.buttonStart {
    background-color: #28A745;
    width: 35%;

}